@import url('https://fonts.googleapis.com/css?family=Montserrat:semi-bold,light|Crimson+Text');

/** Reconstruction */

div#temp {
    margin: 150px 0px 350px 100px;
}

/** End */

body {
    font-family: 'Crimson Text', serif;
    margin: 0px;
}

p {
    font-size: 18px;
}

h1 {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 42px;
    margin-bottom: 50px;
}

a:link, a:visited {
    color: #FDE372;
    text-decoration: none;
}

/** Navigation Styling */
#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav ul {
    margin-top: 50px;
    margin-right: 30px;
}

#nav li {
    list-style-type: none;
    display: inline;
    margin-right: 60px;
    text-transform: uppercase;
    font-family: Montserrat, serif;
}

nav a:link, nav a:visited {
    color: black;
    text-decoration: none;
}

nav img {
    height: 100px;
    margin-top: 10px;
}

.current {
    font-weight: bold;
}

nav a:hover {
    font-weight: bold;
    color: #FDE372;
}

/** Home Styling */
.home {
    margin: 100px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h2 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 0px;
}

.home p {
    margin-top: 0px;
    font-size: 16px;
}

.box {
    width: 25%;
    overflow: hidden;
    margin: auto 30px;
}

.box img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.box:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/** Work Pages */
#backButton {
    width: 75px;
    position: fixed;
    left: 50px;
    top: 210px;
}

.project {
    margin: 100px 200px;
}

.photos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 30px;
}

.photos img {
    height: 200px;
    margin: auto 10px;
}

.caption {
    color: #CDCDCD;
    display: flex;
    justify-content: space-evenly;
}

.construction {
    margin-top: 100px;
    margin-left: 200px;
    width: 615px;
}

.construction h1 {
    margin-bottom: 10px;
}

.construction a:link, .construction a:visited {
    color: #FDE372;
}

.construction a:hover {
    color: black;
}
/** About Styling */
.about {
    margin: 100px 100px;
}

.aboutTop {
    padding-top: 5px;
}

#aboutImg {
    margin-right: 50px;
}

#aboutImg img {
    width: 60%;
    margin: auto 30px 20px auto;
    float: left;
}

.aboutTop h1 {
    margin-top: 21%;
    margin-bottom: 0px;
}

.about h2 {
    margin: 0px 0px 20px 0px;
}

/** Footer Styling */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mediaIcon {
    position: relative;
    margin: 30px;
}

.mediaIcon img {
    position: absolute;
    margin-bottom: 50px;
}

footer img {
    margin: auto 5px;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    width: 30px;
}

.top:hover {
    opacity: 0;
}

